<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Todo app">
    <meta name="author" content="Michał Osak">
    <title>Simple Todo App by MiKE</title>
    <!-- Bootstrap core CSS -->
    <link href="static/css/normalize.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/jquery-confirm.css" rel="stylesheet">
    <link href="static/css/theme.css" rel="stylesheet">
  </head>
  <body>